{{#each products as |product|}}
  <tr.data-id="{{product._id}}">
    <th class="product-element" scope="row">{{product._id}}</th>
    <td class="product-name">{{product.name}}</td>
    <td class="product-price">{{product.price}}</td>
    <td type="submit" class="btn btn-primary add-to-order">Add To Cart</td>
  </tr>
{{/each}}
